/*  typography */
@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700|Roboto:300,400,500,700&display=swap');

body {
  line-height: 1.5;
  font-family: $secondary-font;
  -webkit-font-smoothing: antialiased;
  font-size: 15px;
  color: $text-color-light;
  font-weight: 400;
}

a{
  color: inherit;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  color: $text-color;
  font-family: $primary-font;
  font-weight: 400;
  line-height: 1.2;
}

h1, .h1{
  font-size: 60px;
  @include tablet {
    font-size: 45px;
  }
}

h2, .h2{
  font-size: 45px;
  @include tablet {
    font-size: 36px;
  }
}

h3, .h3{
  font-size: 30px;
}

h4, .h4{
  font-size: 22px;
}

h5, .h5{
  font-size: 16px;
}

h6, .h6{
  font-size: 14px;
}
