/*  typography */
@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700|Roboto:300,400,500,700&display=swap');

body {
  line-height: 1.5;
  font-family: $ffText;
  -webkit-font-smoothing: antialiased;
  font-size: 15px;
  color: $text-color-light;
  font-weight: 400;
}

a{
  color: inherit;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-bottom: 25px;
  //color: $text-color;
  font-family: $ffHeading;
  font-weight: 400;
  line-height: 1.2;

  &:not(:first-of-type){
    margin-top: 40px;
  }
}

h1, .h1{
  margin-bottom: 0;
  @include ft(59, 80, 800, $ffHeading);
 
  @include maw($sm) {
    margin-top: 5px;
    margin-bottom: 10px;
    @include ft(45, 45*1.1, 800, $ffHeading);
  }

  @include maw($xsm){
    font-size: 32px;
  }
 
}

h2, .h2{
  @include ft(24, 33, 700, $ffHeading);

  @include tablet {
    @include ft(24, 33, 700, $ffHeading);

  }
}

h3 {
  font-size: 30px;
  @include ft(24, 33, 700, $ffHeading);

  @include maw($xs){
    @include ft(20, 20*1.4, 700, $ffHeading);
  }
}

.h3 {
  @include ft(28, 38, 700, $ffHeading);
  text-transform: initial;

  @include maw($sm){
    @include ft(22, 22*1.5, 700, $ffHeading);
  }

  @include maw($xs){
    @include ft(16, 16*1.5, 700, $ffHeading);
  }
}

h4, .h4{
  font-size: 22px;
}

h5, .h5{
  font-size: 16px;
}

h6, .h6{
  font-size: 14px;
}
