.section
    margin-top: 60px
    margin-bottom: 60px
    +maw($xsm)
        margin-top: 15px
        margin-bottom: 15px
    &_all
        margin-top: 0
    &_rss
        +theme(light)
        padding-top: 50px
        padding-bottom: 50px
        margin-bottom: 0
        margin-top: 30px
        +maw($xsm)  
            margin-top: 0

    &_articles
        padding-bottom: 100px
    &_top
        margin-top: 0

        .row
            display: grid
            grid-template-columns: 1fr 0.7fr 0.8fr
            gap: 20px
            margin: 0 auto

            +maw($xlg)
                grid-template-columns: 1fr 1fr
            +maw($sm)
                +flex(flex, center, center, wrap) 


        .col
            padding: 0
            +maw($sm)
                align-self: stretch
            +maw($sm)
                width: 100%
                flex: 1 0 auto

            &:nth-child(1)
                grid-column-start: 1
                grid-row-start: 1
                grid-row-end: 3
                +maw($xlg)
                    grid-column-start: 1
                    grid-row-start: 1
                    grid-row-end: 1
            &:nth-child(2)
                grid-column-start: 2
                grid-row-start: 2
                +maw($xlg)
                    grid-column-start: 1
                    grid-row-start: 2
                    grid-row-end: 2
            &:nth-child(3)
                grid-column-start: 2
                grid-row-start: 1
                grid-row-end: 1
                +maw($xlg)
                    grid-column-start: 1
                    grid-row-start: 3
                    grid-row-end: 3
                    display: none
            &:nth-child(4)
                grid-column-start: 3
                grid-row-start: 1
                grid-row-end: 3
                +flex(flex, flex-start, space-between, nowrap)
                flex-direction: column
                padding: 20px
                +maw($xlg)
                    grid-column-start: 2
                    grid-row-start: 1
                    grid-row-end: 3
    &_articles
        padding-bottom: 30px

.col-articles
    padding: 20px
    .btn--text
        width: 100%
        justify-content: flex-end
        margin-left: auto
        margin-top: 20px
        margin-bottom: 0
        +ft(14, 19, 400, $ffHeading)
.news
    +flex(flex, stretch, center, wrap)
    margin-top: 30px
    margin-bottom: 30px
    overflow: hidden
    //color: $black

    +maw($xmd)  
        .news__img
            width: 40%
    +maw($sm)
        flex-wrap: wrap
        .news__author, .news__date
            +ft(13, 13, 400)
        .news__content
            flex-basis: auto
            margin-top: 20px
        .news__img
            width: 100%
    +maw($xs)
        .news__text
            +ft(14, 14*1.4, 500, $ffText)
        .news__title
            +ft(15, 15*1.4, 700, $ffHeading)

    &:first-child
        margin-top: 0
    &-row
        margin-top: 30px
    &__img
        position: relative
        width: 25%
        //max-height: 150px
        a > img
            display: block
            max-width: 100%
            width: 100%
            height: 100%
            object-fit: cover
        .share__wrap
            +ps(absolute, (b, 5px), (r, 5px))
            +flex(flex, flex-end, flex-end, nowrap)
            width: calc(100% - 10px)
            
    .cats
        +ps(absolute, (t, 5px), (l, 5px))

    &__content
        width: auto
        flex: 1
        padding-left: 15px
        padding-right: 15px
        +flex(flex, stretch, space-between, wrap)
        flex-direction: column

        +maw($sm)
            flex-wrap: wrap

    &__title
        +ft(18, 18*1.4, 700, $ffHeading)
    &__author, &__date
        +ft(14, 14, 600)
    &__date
        text-align: right
    &__text
        margin-top: 20px
        +ft(16, 16*1.4, 500, $ffText)
    &__footer
        +flex(flex, center, space-between, nowrap)
        width: 100%
        margin-top: 15px
        opacity: 0.6

.item
    position: relative
    z-index: 1
    +flex(flex, flex-end, flex-start, wrap)
    //height: 370px
    height: 100%
    padding: 20px 20px 40px
    padding-top: 10em
    +theme(dark)

    +maw($xs)
        padding-top: 5em

    .share__wrap
        +ps(absolute, (r, 20px), (t, 20px))
        width: calc(100% - 40px)

    &-lg
        height: 100%
        padding-top: 5em
        .item
            &__title
                +ft(24, 29, 700, $ffHeading)
            &__footer
                +ft(14, 17, 600, $ffText)
        +maw($sm)
            .item
                &__title
                    +ft(16, 22, 700, $ffHeading)
                &__footer
                    +ft(14, 17, 400, $ffText)
        .share__wrap
            +ps(relative, (r, 0), (t, 0))
    &-sm
        padding-top: 5em
        .share__wrap
            +ps(relative, (r, 0), (t, 0))

    &::after
        content: ''
        +ps(absolute, (t, 0), (l, 0))
        z-index: -1
        +sz(100%, 100%)
        background: $grad1

    &:hover, &:focus, &:active
        color: $white
        .item__title
            text-decoration: underline

    &__wrap
        display: grid
        grid-template-columns: repeat(auto-fit,minmax(335px, 1fr))
        gap: 20px
        width: 100%
        padding: 0 16px

        +maw($xs)
            grid-template-columns: 1fr

    &__content
        width: 100%

    &__img
        +ps(absolute, (t, 0), (l, 0))
        z-index: -1
        +sz(100%, 100%)
        img
            display: block
            max-width: 100%
            +sz(100%, 100%)
            object-fit: cover

    &__title
        +ft(16, 22, 700, $ffHeading)

    &__date
        +maw($xs)
            width: 100%
            margin-top: 10px
            font-size: 80%

    &__header
        +ps(absolute, (r, 0), (t, 20px), (b, auto))

    &__footer
        +flex(flex, center, space-between, wrap)
        +ft(14, 14*1.5, 400, $ffText)
        margin-top: 20px

    &__media
        +flex(flex, center, space-between,wrap)
        margin-top: 20px

.top-news
    margin-bottom: 24px
    img
        max-width: 100%
        width: 100%
        object-fit: cover
    &__title
        text-transform: uppercase
        margin-top: 8px
        margin-bottom: 8px
        +ft(18, 18*1.4, 700, 'oswald')
    &__footer
        +flex(flex, center, flex-start, nowrap)
        +ft(12, 12, 400)
        opacity: 0.62
    &__date
        margin-left: 24px

.article
    width: 100%
    padding: 0
    padding-bottom: 10px
    margin-bottom: 10px
    border-bottom: 1px solid rgba($white, 0.5)

    &:hover
        .article__content
            text-decoration: underline

    &:last-of-type
        margin-bottom: 0
        

    &__content
        +ft(14, 14*1.5, 600, $ffHeading)
        margin-bottom: 10px
        margin-top: 0
    &__date
        +ft(12, 12, 400, $ffText)
    &__footer
        +flex(flex, center, space-between ,wrap)
        +ft(12, 12, 400, $ffText)
   

.article-top
    color: $black
    margin-bottom: 30px
    &__img
        img
            max-width: 100%
            width: 463px
            object-fit: cover
    &__meta
        +flex(flex, center, flex-start, nowrap)
        margin-bottom: 10px
    &__date
        margin-left: 25px
    &__content
        +ft(14, 14*1.4, 400)
    &__title
        +ft(24, 24*1.2, 700, 'oswald')
        margin-top: 15px
        margin-bottom: 15px
        color: inherit
    +maw($sm)
        &__title
            +ft(18, 18*1.4, 700)

.video
    max-width: 100%
    width: 100%
    height: 100%
    object-fit: contain
    margin-bottom: 30px
    position: absolute
    top: 0
    left: 0
    z-index: -1
    iframe
        position: absolute
        display: block
        width: 100%
        height: 100% 
        object-fit: cover
        z-index: 1
    &__wrap
        position: relative
        display: block
        height: 100%
        max-width: 100%

        img
            display: block
            object-fit: cover
            max-width: 100%
            height: 100%

        +maw($xmd)
            min-height: 20em
            padding-bottom: 20px

.video-news
    +theme(dark2)
    +flex(flex, center, stretch, nowrap)
    margin-bottom: 20px
    &:last-child
        margin-bottom: 0
    & *
        &:hover, &:active, &:focus
            color: $white
            text-decoration: underline
    +maw($sm)
        flex-wrap: wrap

    &__img
        align-self: stretch
        a
            display: block
            width: 100%
            height: 100%
        img
            width: 130px
            height: 100%
            object-fit: cover
            +maw($sm)
                width: 100%
    &__content
        +flex(flex,stretch, space-between, nowrap)
        align-self: stretch
        flex-direction: column
        width: 100%
        padding: 12px 16px

    &__title
        margin-bottom: 10px
        +ft(14, 19, 600, $ffHeading)
    &__text
        margin-bottom: 8px
        +ft(12, 15, 400, $ffText)
        opacity: 0.7
        p
            margin-bottom: 0
    &__date
        margin-left: auto
        margin-right: 0
        +ft(12, 15, 400, $ffText)
        opacity: 0.6
        +maw($sm)
            margin-left: 0

.box
    //border-radius: 10px
    border: 1px solid lighten($black0, 80%)
    padding: 25px
    // margin-bottom: 16px
    // margin-top: 16px
    &__title
        text-transform: uppercase
        +ft(18, 18*1.4, 700, 'oswald')
        margin-bottom: 32px
    &__footer
        +flex(flex, center, space-between, nowrap)
        +ft(12, 12, 400)
        .btn--text
            +ft(12, 12, 400)
    +maw($sm)
        &__title
            +ft(14, 14*1.4, 700)

.card
    position: relative
    overflow: hidden
    min-height: 250px
    border-radius: 0
    & > a
        position: absolute
        top: 0
        left: 0
        display: block
        height: 100%
        &.card-img-wrap
            position: relative
            display: block
    &-img-top
        max-height: 250px
        height: 250px
    &-head
        margin-bottom: 20px

    &--bd
        border: 1px solid lighten($black0, 80%)
        border-radius: 10px
    &__body
        padding: 30px
        margin-top: -5px
        z-index: 0
        position: relative

    &__img
        display: block
        max-width: 100%
        width: 100%
        height: 100%
        object-fit: cover
        z-index: 1
        img
            display: block
            width: 100%
            max-height: 250px
            object-fit: cover
    &__content
        position: absolute
        bottom: 30px
        left: 0
    &__meta
        +ft(14, 14, 400)

    &__heading
        display: block
        +ft(18, 18*1.3, 700)
        margin-top: 10px
        margin-bottom: 15px
    &__text
        +ft(14, 14*1.4, 400)
        opacity: 0.9
    &__title
        background-color: rgba($white, 0.35)
        color: $white
        width: 90%
        border-radius: 10px
        text-transform: uppercase
        +ft(19, 19*1.4, 600, 'oswald')
        transform: skew(-15deg) translateX(-10%)
        padding: 15px 15px 15px 15%
        margin-bottom: 20px
        a:hover
            color: $white
            text-decoration: underline
        div
            transform: skew(15deg)

    &__date
        display: inline-block
        background-color: rgba($white, 0.35)
        color: $white
        padding: 5px 15px
        width: auto
    .btn--text
        +ft(12, 12, 700)
        padding: 0

.card-top
    margin-bottom: 30px
    img
        display: block
        max-width: 100%
        width: 100%
        margin-bottom: 17px
        object-fit: cover
    &__title
        +ft(30, 30*1.2, 700, 'oswald')
    &__meta
        +flex(flex, center, flex-start, nowrap)
        +ft(14, 14, 400)
        opacity: 0.62
        margin-top: 18px
        margin-bottom: 18px
    &__date
        margin-left: 25px
    &__content
        +ft(14, 14*1.4, 400)
    +maw($sm)
        &__title
            +ft(18, 18*1.4, 700)

.table
    border-bottom-color: transparent
    td
        padding: 0
        &:first-child
            padding-right: 30px
        &:last-child
            border-left: 1px solid lighten($black0, 80%)
            padding-left: 30px
    +maw($md)
        td
            display: block
            width: 100%
            &:last-child
                padding-left: 0
                border-left: none
            &:first-child
                padding-right: 0

.table1
    margin-left: -10px
    margin-right: -10px
    margin-bottom: 30px
    td
        // border: 1px solid 
        vertical-align: top
        padding: 10px
    &__col
        width: 33%

    +maw($md)
        &__col, td
            display: inline-flex
            width: 50%
    +maw($sm)
        &__col, td
            display: block
            width: 100%

.banner
    display: block
    border-radius: 20px
    object-position: 50%
    img
        max-witdh: 100%
        width: 100%

body
    display: flex
    flex-direction: column
    min-height: 100vh

.page
    &__wrap
        flex: 1 0 auto
        display: flex
        align-items: center
        padding-top: 100px
        padding-bottom: 100px
        +maw($md)
            padding-top: 0px
            padding-bottom: 0
            margin-top: 0
            margin-bottom: 25px
    &-title
        margin-bottom: 0
    &-subtitle
        margin-top: 0
        margin-bottom: 0
        text-transform: uppercase
    &-lead
        margin-bottom: 0

.logo
    margin-right: 20px
    &__wrap
        +flex(flex, center, flex-start, wrap)
        text-transform: uppercase
        +ft(11px, 13px, 700)
        margin-right: 20px
        a
            display: block
            margin: 0
            margin-bottom: 5px
        span
            display: block
            width: 100%

.qr
    text-align: center
    color: $white

.policy
    text-align: center
    a
        &:hover
            color: inherit
            text-decoration: underline

#main
    flex: 1 0 auto
    display: flex
    align-items: center
    justify-content: center

.text
    &-center
        text-align: center

.single
    &__title
        margin-top: 15px
        margin-bottom: 15px
        @extend .h3
        //color: $primary-color
    &__meta
        margin-bottom: 40px
        +flex(flex, center, space-between, wrap)
        //color: $secondary-color
        opacity: .5
        +ft(14, 17, 600, $ffText)
    &__content
        +ft(18, 22, 400, $ffText)
        +maw($xs)
            +ft(16, 16*1.4, 400, $ffText)