{{ define "main" }}
{{ partial "_breadcrumbs.html" . }}
<section class="section-sm single">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">

        {{ if eq .Params.type "youtube" }}
        {{ if .Params.video }}

        {{ if gt (len .Params.video) 8 }}
        <iframe width="100%" height="315" src="{{ .Params.video | relURL }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        {{ end }}
     
        {{ end }}
        {{ else }}
        {{ if .Params.img }}
        <img class="img-fluid w-auto mx-auto" src="{{ .Params.img | relURL }}" alt="{{ .Title }}">
        {{ end }}
        {{ end }}

        <h1 class="single__title">{{ .Title | upper | markdownify  }}</h1>

        <div class="single__meta"> 
          {{ if .Params.author }}
          <span class="">{{ .Params.author | title }}</span> 
          {{ end }}
         <div>
          <span>{{ .PublishDate.Format "02.01.2006"  }} </span> / {{  .PublishDate.Format "15:04" }}
        </div>
         </div>
        <div class="single__content">{{ .Content }}</div>

        <!-- comments -->
        {{ if .Site.DisqusShortname }}
        <div class="mt-5">
          {{ template "_internal/disqus.html" . }}
        </div>
        {{ end }}
      </div>
      {{ partial "blog-sidebar.html" . }}
    </div>
  </div>
</section>

{{ end }}