{{ define "main" }}
{{ $data := index .Site.Data .Site.Language.Lang }}
<div class="parent-page">
<!-- BEGIN section -->
<section class="section my-lg-5 py-lg-5">
   <div class="container py-3 py-lg-5">
    <h1 class="h2">
        {{ .Title }}
    </h1>

    <div class="row mt-5">

<div class="col-lg-8">

   <div class="row">
    {{ $paginator := .Paginate .Data.Pages }}
    {{ range $paginator.Pages }}
    {{ "<!-- blog post -->" | safeHTML }}
    <article class="col-md-6 mb-4">
      {{ .Render "post"}}
    </article>
    {{ end }}
   </div>
    
   {{"<!-- pagination -->" | safeHTML }}
   {{- partial "_pagination.html" . -}}
   {{"<!-- /pagination -->" | safeHTML }}
   
</div>

<aside class="col-lg-4">
  {{- partial "sidebar.html" . -}}
</aside>
    </div>
   </div>
</section>
<!-- END section -->

</div>
{{ end }}