{{ $data := index .Site.Data .Site.Language.Lang }}

<article class="article">
  <div class="article__heading">
    {{ if .Params.cat }}
    <div class="article__cat">{{ .Params.cat }}</div>
    {{ end }}

    <div class="article__date">
      <span>{{ .PublishDate.Format "2006/01/02" }} </span> | 
      {{ .PublishDate.Format "15:04" }}
    </div>
  </div>
  <div class="article__content">
    <a href="{{ .Permalink }}"> {{ .Title | truncate 100 }} </a>
  </div>
  <div class="article__footer">{{ .Params.author }}</div>
</article>
