<!-- BEGIN breadcrumbs -->

<section aria-label="breadcrumb" class="breadcrumb__wrap">
	<nav class="container">
	<ul class="breadcrumb" class="breadcrumb" itemscope="itemscope" itemtype="http://schema.org/BreadcrumbList">
		{{ template "breadcrumbnav" (dict "p1" . "p2" .) }}
	  </ul>
	  
	  {{ define "breadcrumbnav" }}
		{{ if .p1.Parent }}
		  {{ template "breadcrumbnav" (dict "p1" .p1.Parent "p2" .p2 )}}
		{{ else if not .p1.IsHome }}
		  {{ template "breadcrumbnav" (dict "p1" .p1.Site.Home "p2" .p2 )}}
		{{ end }}
		<li class="breadcrumb-item" {{ if eq .p1 .p2 }} class="active" {{ end }} itemprop="itemListElement" itemscope="itemscope" itemtype="http://schema.org/ListItem">
		  <a href="{{ .p1.RelPermalink }}" itemprop="item">{{ .p1.Title | truncate 50 }}</a>
		</li>
	  {{ end }}
	
	</div>
</section>

<!-- END breadcrumbs -->
