{{ $data := index .Site.Data .Site.Language.Lang }}

<article class="card">
  <a href="{{ .Permalink }}">
    {{ if .Params.img }}
    <img src="{{ .Params.img | relURL }}" alt="{{ .Title }}" class="card__img" />
    {{ else }}
    <img src="{{ `/images/news.jpg` | relURL }}">
    {{ end }}
    <div class="card__content">
      <div class="card__title">
        <div>
          {{ .Title | truncate 50 }}
        </div>
      </div>
      <div class="card__date">
        <span>{{ .PublishDate.Format "2006/01/02"  }} </span> |
                 {{  .PublishDate.Format "15:04" }}
      </div>
    </div>
  </a>
</article>
