{{ $data := index .Site.Data .Site.Language.Lang }}

<article class="card">
  <a href="{{ .Permalink }}">
    {{ if .Params.img }}
    <img src="{{ .Params.img | relURL }}" alt="{{ .Title }}" class="card__img" />
    {{ end }}
    <div class="card__content">
      <div class="card__title">
        <div>
          {{ .Title | truncate 50 }}
        </div>
      </div>
      <div class="card__date">
        {{ .PublishDate.Format "02/01/2006" }} | 
        {{  .PublishDate.Format "15:04" }}
      </div>
    </div>
  </a>
</article>
