{{ $data := index .Site.Data .Site.Language.Lang }}

<section class="section section_top">
  <div class="container">
    <!-- <div class="heading__group">
      <h3>{{ i18n "actual-news" }}</h3>
      
      {{ .Scratch.Set "title" "Все материалы по порядку" }}
      {{ .Scratch.Set "class" "toogle-col" }}
      {{- partial "_switch.html" . -}}
    </div> -->

    <div class="row">
      {{ $arg_main := slice }} 
      {{ $arg := slice }} 
      {{ range $i, $arr := .Site.RegularPages }} 
      {{ if eq $i 0 }}
      <div class="col">
        {{ .Scratch.Set "class" "item-lg" }} {{- partial "_news-main.html" . -}}
      </div>
      {{ end }} {{ if (or (eq $i 1) (eq $i 2)) }}
      <div class="col">
        {{ .Scratch.Set "class" "item-sm" }} {{- partial "_news-main.html" . -}}
      </div>
      {{ end }} {{ if not (or (eq $i 0) (eq $i 1) (eq $i 2)) }} {{ $arg = $arg |
      append . }} {{ end }} 
      
      {{ if not (or (eq $i 0) (eq $i 1) (eq $i 2) (eq $i 3) (eq $i 4) (eq $i 5) (eq $i 6) (eq $i 7) (eq $i 8)) }} {{ $arg_main = $arg_main | append . }} {{ end }}
      {{ end }}

      <div class="col col-articles bg-grad">
        {{ range first 6 $arg }}

        {{- partial "_article-sm.html" . -}}

        {{ end }}

        <a class="btn--text" href="/news/">
          {{ i18n "all-news" }}
          <i class="ti-angle-right"></i>
        </a>
      </div>
    </div>
  </div>
</section>
