{{ $data := index .Site.Data .Site.Language.Lang }}

<section class="section section_top">
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        {{ $arg := slice }}
        {{ range (where .Site.RegularPages "Type" "top-news") }}
        {{ if eq .Params.position "top-news-1" }}
        {{ $arg = $arg | append . }}
        {{ end }}
        {{ end }}
        {{ range first 1 $arg }}
        <article class="card-top">
          {{ if .Params.img }}
          <a href="{{ .Permalink }}" class="d-none d-lg-block">
            <img src="{{ .Params.img | relURL }}" alt="{{ .Title }}" />
          </a>
          {{ end }}
          <div class="card-top__title">
            <a href="{{ .Permalink }}">
              {{ .Title | truncate 150 }}
            </a>
          </div>
          <div class="card-top__meta">
            <div class="card-top__author">
              {{ .Params.author }}
            </div>
            <div class="card-top__date">
              {{ dateFormat "02/01/2006 | 15:04" .Date.Local }}
            </div>
          </div>
          <div class="card-top__content">
            <a href="{{ .Permalink }}">
              {{ .Summary | truncate 150 }}
            </a>
          </div>
        </article>
        {{ end }}

      </div>
      <div class="col-lg-7">
        <div class="row">
          <div class="col-md-6">
            {{ $arg := slice }}
            {{ range (where .Site.RegularPages "Type" "top-news") }}
            {{ if eq .Params.position "top-news-2" }}
            {{ $arg = $arg | append . }}
            {{ end }}
            {{ end }}
            {{ range first 2 $arg }}
            <article class="top-news">
              {{ if .Params.img }}
              <a href="{{ .Permalink }}">
                <img src="{{ .Params.img | relURL }}" alt="{{ .Title }}" />
              </a>
              {{ end }}
              <div class="top-news__title">
                <a href="{{ .Permalink }}">
                  {{ .Title | truncate 150 }}
                </a>
              </div>
              <div class="top-news__footer">
                <div class="top-news__author">
                  {{ .Params.author }}
                </div>
                <div class="top-news__date">
                  {{ dateFormat "02/01/2006 | 15:04" .Date.Local }}
                </div>
              </div>
            </article>
            {{ end }}

          </div>
          <div class="col-md-6">
            {{ $arg := slice }}
            {{ range (where .Site.RegularPages "Type" "top-news") }}
            {{ if and (ne .Params.position "top-news-1") (ne .Params.position "top-news-2")}}
            {{ $arg = $arg | append . }}
            {{ end }}
            {{ end }}
            {{ range first 4 $arg }}

            <article class="article">
              <div class="article__heading">
              
                {{ if .Params.cat }}
                <div class="article__cat">
                  {{ range first 1 .Params.cat }}
                  {{ . }}
                  {{ end }}
                </div>
                {{ end }}
                <div class="article__date">
                  {{ dateFormat "02/01/2006 | 15:04" .Date.Local }}
                </div>
              </div>
              <div class="article__content">
                <a href="{{ .Permalink }}">
                  {{ .Title }}
                </a>
              </div>
              <div class="article__footer">
                {{ .Params.author }}
              </div>
            </article>
            {{ end }}

          </div>
        </div>
      </div>
    </div>
  </div>
</section>