<!-- BEGIN lang-switcher -->
{{ if .IsTranslated }}

<nav class="dropdown lang-switcher">
  {{ $siteLanguages := .Site.Languages}}
  {{ $pageLang := .Page.Lang}}

  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
   
    {{ range $siteLanguages }}
    {{ if eq $pageLang .Lang}}
    {{ .LanguageName }}
    {{ end }}
    {{ end }}

  </button>


  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    
    {{ range .Page.AllTranslations }}
    {{ $translation := .}}
    {{ range $siteLanguages }}
    {{ if eq $translation.Lang .Lang }}
    {{ $selected := false }}
    {{ if eq $pageLang .Lang}}
   
    <li>
      <button class="" id="{{ $translation.Language }}" value="{{ $translation.Permalink }}" onClick="location = this.value;">{{ .LanguageName }}</button>
    </li>

    {{ else }}
    <li>
      <button class="" id="{{ $translation.Language }}" value="{{ $translation.Permalink }}" onClick="location = this.value;">
        {{ .LanguageName }}
      </button>
    </li>

    {{ end }}
    {{ end }}
    {{ end }}
    {{ end }}
  </ul>
  
</nav>

{{ end }}
<!-- END lang-switcher -->