{{ $data := index .Site.Data .Site.Language.Lang }} 


<section class="section section_rss">
  <div class="container">
   <div class="row">
    <h2>Подписывайтесь на нашу рассылку</h2>
    <div class="col-md-6">
      Более 50 процентов авторитетных аналитиков, опрошенных компанией Finder, уверены, что шуточную криптовалюту Dogecoin ждет крах в ближайшие четыре года.
      Как оказалось, большинство криптовалютных аналитиков считают, что токен Dogecoin (DOGE) обречен 
    </div>
    <div class="col-md-6">
      <form action="#" method="POST" class="rss">
        
        <label for="email">
          Рассылка раз в неделю
        </label>
        <input type="email" id="email" placeholder="Ввести email...">
        
        <input type="submit" value="Подписаться">
      </form>
    </div>
   </div>
  </div>
</section>

