{{ $data := index .Site.Data .Site.Language.Lang }}
<div class="video-news">
  <div class="video-news__img">
     
      {{ if .Params.Img }}
      <a href="{{ .Permalink }}"><img src="{{ .Params.Img | relURL }}"></a>
      {{ else }}
      <a href="{{ .Permalink }}"><img src="{{ `/images/news.jpg` | relURL }}"></a>
      {{ end }}
    
  </div>
  <div class="video-news__content">
    <div class="video-news__title">
      <a href="{{ .Permalink }}">
        {{ .Title | truncate 50 }}
      </a>
    </div>
    {{ if .Content }}
    <div class="video-news__text">
      <a href="{{ .Permalink }}">
        {{ .Content | truncate 125 }}
      </a>
    </div>
    {{ end }}
    <div class="video-news__date">
      {{  .PublishDate.Format "15:04" }} /
      <span>{{ .PublishDate.Format "02.01.2006"  }} </span> 
    </div>
  </div>
</div>
