{{ "<!-- sidebar -->" | safeHTML }}
<aside class="sidebar col-lg-4 order-1 order-lg-2">
 <div class="sidebar__inner">
  {{ "<!-- categories -->" | safeHTML }}
  

   <div class="mb-40">
    {{ .Scratch.Set "limit" 10 }}
    {{- partial "_categories.html" . -}}


  </div>

  <section class="col col-articles bg-grad mb-40">
    
    {{ range first 6 .Site.RegularPages}}
    {{- partial "_article-sm.html" . -}}
    {{ end }}

    <a class="btn--text" href="/news/">
      {{ i18n "all-news" }}
      <i class="ti-angle-right"></i>
    </a>
  </section>

  <section class="sidebar__banner">
    {{- partial "_banner.html" . -}} 
  </section>
  
   
 </div>
</aside>
{{ "<!-- /sidebar -->" | safeHTML }}