<!-- BEGIN header -->

<header class="header">
  
    <div class="header__top">
      <div class="container">
        <div class="d-flex align-items-center justify-content-between">
        {{ .Scratch.Set "img" .Site.Params.logo }} 
        {{ .Scratch.Set "logo_w" 98 }}
        {{ .Scratch.Set "logo_h" 61 }}
        {{- partial "_logo.html" . -}}
  
        <!-- BEGIN search -->
        <form action="{{`search` | relURL }}" class="search d-none">
          <input type="search" id="search-query" name="s" class="form-control" placeholder="Search..." />
          <button type="submit" hidden></button>
        </form>
        <!-- END search -->
        
        <div class="d-flex">
        <!-- BEGIN soc -->
        <div class="soc me-2">
          {{ range .Site.Params.soc }}
          <a href="{{.link}}" target="_blank" rel="noopener noreferrer" title="{{ .title }}">
             <svg class="icon me-3" width="30" height="30">
              <use xlink:href="#{{.icon}}"></use>
            </svg>
          </a>
          {{ end }}
        </div>
        <!-- END soc -->
        {{- partial "_lang.html" . -}}

        <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
      <svg class="icon navbar-toggler-open" width="20" height="20">
        <use xlink:href="#menu"></use>
      </svg>
      <svg class="icon navbar-toggler-close d-none" width="20" height="20">
        <use xlink:href="#close"></use>
      </svg>
      </button>

      <script>
        let menu_toggler = document.querySelector('.navbar-toggler-open');
        let menu_toggler_close = document.querySelector('.navbar-toggler-close');
        menu_toggler.addEventListener('click', function(){
          this.style.display = "none";
          menu_toggler_close.classList.toggle('d-none');
        });
        menu_toggler_close.addEventListener('click', function(){
          this.classList.toggle('d-none');
          menu_toggler.style.display = "block";
        });
      </script>

        </div>

      </div>
      </div>
    </div>
    <div class="header__btm">
      <div class="container">
      <nav class="navbar navbar-expand-lg w-100">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
            {{ range .Site.Menus.header }} {{ if .HasChildren }}

            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                {{ .Name }}
              </a>

              <ul class="dropdown-menu">
                {{ range .Children }}
                <li>
                  <a class="dropdown-item" href="{{ .URL | relLangURL }}"
                    >{{ .Name }}</a
                  >
                </li>
                {{ end }}
              </ul>
            </li>
            {{ else }}
            <li class="nav-item">
              <a class="nav-link" href="{{ .URL | relLangURL }}"
                >{{ .Name }}</a
              >
            </li>

            {{ end }}
      {{ end }}
          </ul>
        </div>
        
    </nav>
  </div>
    
  </div>
</header>
<!-- END header -->

{{ if ne .IsHome true }} 
{{ end }}
