{{ "<!-- navigation -->" | safeHTML }}
<header class="header__top navigation">
  <div class="container">
    <div class="row">
      {{ .Scratch.Set "logo_mode" "dark" }} 
      {{ .Scratch.Set "logo_w" 70 }} 
      {{ .Scratch.Set "logo_h" 40 }} 
      {{- partial "_logo.html" . -}} 
      {{- partial "_search.html" . -}} 
      {{ .Scratch.Set "title" "Темный режим" }}
      {{ .Scratch.Set "class" "toogle-theme" }}
      {{- partial "_switch.html" . -}} 
      
      {{- partial "_soc.html" . -}} 
      {{- partial "_lang.html" . -}}

      <div class="d-inline-flex d-lg-none">
        <button
          class="navbar-toggler border-0"
          type="button"
          data-toggle="collapse"
          data-target="#navigation"
        >
          <i class="navbar-toggler--open ti-align-justify"></i>
          <i class="navbar-toggler--close ti-close d-none"></i>
        </button>
      </div>
    </div>
  </div>
</header>
<div class="header__bottom">
  <div class="container">
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-transparent">
      <div class="d-flex align-items-center order-lg-1">
        <script>
          let menu_toggler = document.querySelector(".navbar-toggler--open");
          let menu_toggler_close = document.querySelector(
            ".navbar-toggler--close"
          );
          menu_toggler.addEventListener("click", function () {
            this.style.display = "none";
            menu_toggler_close.classList.toggle("d-none");
          });
          menu_toggler_close.addEventListener("click", function () {
            this.classList.toggle("d-none");
            menu_toggler.style.display = "block";
          });
        </script>
      </div>

      <div class="collapse navbar-collapse text-center" id="navigation">
        <ul class="navbar-nav">
          <!-- <li class="nav-item">
          <a class="nav-link" href="{{ .Site.BaseURL | relLangURL }}">{{ .Site.Params.Home }}</a>
        </li> -->
          {{ range .Site.Menus.main }} 
          {{ if .HasChildren }}
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              {{ .Name }}
            </a>
            <div class="dropdown-menu">
              {{ range .Children }}
              <a class="dropdown-item" href="{{ .URL | relLangURL }}"
                >{{ .Name }}</a
              >
              {{ end }}
            </div>
          </li>
          {{ else }}
          <li class="nav-item">
            <a class="nav-link" href="{{ .URL | relLangURL }}">{{ .Name }}</a>
          </li>
          {{ end }} 
          {{ end }}
        </ul>
      </div>
    </nav>
  </div>
</div>
{{ "<!-- /navigation -->" | safeHTML }}
