<!-- page-title -->
<section class="page-title bg-cover {{ if eq .Params.type "geopolitics" }} bg-geopolitics {{ end }}" style="background-image: url('{{ .Params.bg_image | relURL }}'), url('{{`images/backgrounds/banner.jpg` | relURL }}');">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center text-white">
        {{ if .Params.lead }} <p class="page-lead"> ({{ .Params.lead }}) </p> {{ end }}
        <h1 class="">{{ .Title | markdownify }}</h1>
        {{ if .Params.subtitle }} <h2 class="page-subtitle">{{ .Params.subtitle }}</h2>{{ end }}

      </div>
    </div>
  </div>
</section>
<!-- /page-title -->